[DEFAULT]
filename=schedule.xls
add_full_text_to_description=false

[STRINGS]
distant=Дистанционно
room=Ауд.
teacher=Преподаватель

[EXCEL]
; Все индексы ячеек на 1 меньше относительно Excel
row_begin=10
col_day=20
col_time=21
col_class=22

[GOOGLE]
client_id=
client_secret=
api_key=
calendar_id=
